<div class="row">
    <div class="col-md-12">
        <!-- Navigation Panel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../app/content/images/carousel1.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../app/content/images/carousel2.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../app/content/images/carousel3.jpg" alt="">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="row mt-5 mb-5 text-center divcolor divfontcolor">
    <div class="container">
            <h3 class="">Feature Photos</h3>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <img src="../../app/content/images/gal1.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <img src="../../app/content/images/gal2.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <img src="../../app/content/images/gal9.jpg" alt="" class="img-thumbnail">
    </div>    
</div>
<div class="row mt-5">
    <div class="col-md-4">
        <img src="../../app/content/images/gal5.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <img src="../../app/content/images/gal6.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <img src="../../app/content/images/gal4.jpg" alt="" class="img-thumbnail">
    </div>    
</div>
