divcolor{
    background-color: white;
  }
  
  divfontcolor{
    color: black;
  }
  
  mb-10 {
    background-color: white;
    margin-bottom: 10px
  }
  
  mt-10 {
    background-color: white;
    margin-top: 10px
  }
  
  mb-5 {
    background-color: white;
    margin-bottom: 5px;
  }
  
  mt-5 {
    background-color: white;
    margin-top: 5px;
  }
  
  pb-10 {
    background-color: white;
    padding-bottom: 10px
  }
  
  pt-10 {
    background-color: white;
    padding-top: 10px
  }
  
  pb-5 {
    background-color: white;
    padding-bottom: 5px;
  }
  
  pt-5 {
    background-color: white;
    padding-top: 5px;
  }