<div class="row mt-3">
    <div class="container">
        <legend>Register</legend> 
        <hr style="border: 5">         
        <form #createNewUserForm="ngForm" (ngSubmit)="saveNewUser(createNewUserForm.value)" autocomplete="off">
            <fieldset>
                <div class="form-group" [ngClass]="{'error': createNewUserForm.controls.firstname?.invalid && createNewUserForm.controls.firstname?.touched}">
                <label for="firstname">First Name</label>
                <em *ngIf="createNewUserForm.controls.firstname?.invalid && (newEventForm.controls.firstname?.touched)">Required</em>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                <label for="abturself">About Yourself</label>
                <textarea id="abturself" class="form-control" name="abturself"></textarea>
                </div>                                           
                <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                </div>                                         
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
            </fieldset>
        </form>
    </div>
</div>